


/* .MuiInputBase-input  {
  background: #454545;
}

.MuiTextField-root {
  background: #454545;
} */

.TextField-without-border-radius fieldset {
  border-radius: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
